<section class="message">
    <h2 class="message__text">
        We are together in this magical world of programming, <strong class="message__word message__word--emp">creating</strong>, <strong class="message__word message__word--emp">working hard</strong> and <strong class="message__word message__word--emp">transforming other people's lives</strong>, through <strong class="message__word message__word--emp">practical</strong>, <strong class="message__word message__word--emp">objective</strong> and <strong class="message__word message__word--emp">quick solutions</strong>.
    </h2>
</section>
