@import "../../../stylesheets/mixins";
@import "../../../stylesheets/vars";
@import "../../../stylesheets/placeholders";

.header{
    .header__content{
        $space: .375rem;
        $space-links: $space * 1.5;
        $space-container: $space * 2;

        display: flex;
        flex-direction: row;
        align-items: center;

        .header__container{
            display: flex;
            flex-direction: column;
            margin-left: $space-container;

            .header__name{
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-weight: 600;
                text-align: left;
                margin: 0 0 $space 0;
                font-family: 'Berkshire Swash', fantasy, serif;

                @extend %line-height-default;
            }

            .header__list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                text-align: left;
                margin: 0;
                padding: 0;

                .header__list-item{
                    &:not(:last-child){
                        margin-right: $space-links;
                    }

                    .header__link{
                        font-weight: 400;
                        color: $grey-color;
                        font-size: .85rem;

                        @include link();
                    }
                }
            }
        }

        .header__container-img{
            .header__img{
                @include fix-size(75px, 75px);

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 1;
                transition: opacity $time-transition, border-radius $time-transition;
                z-index: 1;

                &.header__img--first{
                    border-radius: 4px;
                    z-index: 2;

                    &:hover, &:focus, &:active{
                        opacity: 0;
                        border-radius: $border-radius;
                    };
                }

                &.header__img--second{
                    border-radius: $border-radius;
                    filter: grayscale(1);
                }
            }

            @include fix-size(75px, 75px);

            position: relative;
        }

        @media(max-width: $mobile-width){
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .header__container-img{
                margin-bottom: $space-container;
            }

            .header__container{
                margin-left: 0;

                .header__list{
                    .header__list-item{
                        margin-bottom: $space;
                    }
                }
            }
        }
    }
}
