@use "sass:math";

@import "../../../stylesheets/mixins";
@import "../../../stylesheets/variables";
@import "../../../stylesheets/placeholders";

.header{
    $space: .5rem;
    $space-links: .5rem;
    $space-container: 1rem;

    &__btn{
        ::ng-deep .btn__tooltip{
            text-transform: uppercase;
        }
    }

    &__actions{
        $space-btn: math.div($space-links, 2);

        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0 (-$space-btn) 0 (-$space-btn);

        > *{
            margin: 0 $space-btn ($space-btn * 2) $space-btn;
        }

        @media(max-width: $tablet-width){
            justify-content: flex-start;
        }
    }

    .header__content{
        display: flex;
        flex-direction: row;
        align-items: center;

        .header__container{
            display: flex;
            flex-direction: column;
            margin-left: $space-container;

            .header__name{
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-weight: 500;
                text-align: left;
                margin: 0 0 $space 0;
                font-family: 'Berkshire Swash', serif;

                @extend %line-height-default;
            }

            .header__list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                text-align: left;
                margin: 0;
                padding: 0;

                .header__list-item{
                    &:not(:last-child){
                        margin-right: $space-links;
                    }

                    .header__link{
                        font-weight: 400;
                        color: $grey-color;
                        font-size: .85rem;

                        @include link();
                    }
                }
            }
        }

        .header__container-img{
            .header__img{
                @include fix-size(75px, 75px);

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 1;
                transition: opacity $time-transition, border-radius $time-transition;
                z-index: 1;

                &.header__img--first{
                    border-radius: $radius;
                    z-index: 2;

                    &:hover, &:focus, &:active{
                        opacity: 0;
                        border-radius: $border-radius;
                    };
                }

                &.header__img--second{
                    border-radius: $border-radius;
                    filter: grayscale(1);
                }
            }

            @include fix-size(75px, 75px);

            position: relative;
        }

        @media(max-width: $tablet-width){
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .header__container-img{
                margin-bottom: $space-container;
            }

            .header__container{
                margin-left: 0;

                .header__list{
                    .header__list-item{
                        margin-bottom: $space;
                    }
                }
            }
        }
    }

    & &__skip-to-content{
        $size: 42px;
        $default-transform: translateX(-50%);

        text-align: center;
        border-radius: 0 0 $radius $radius;
        position: fixed;
        top: 0;
        height: $size;
        left: 50%;
        transform: $default-transform translateY($size * -1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $double-space;
        background-color: $primary-color;
        text-decoration: none;
        color: $white-color;
        transition: opacity $time-transition, transform $time-transition;
        box-sizing: border-box;

        &:focus{
            transform: $default-transform;
        }

        &:hover, &:active{
            opacity: .8;
        }
    }
}
