<header class="header">
    <section class="header__content">
        <a rel="noreferrer" class="header__skip-to-content" href="#main">Skip to content</a>
        <div class="header__container-img">
            <div class="header__img header__img--first"
                 role="img"
                 [ngStyle]="{ 'background-image': 'url(' + (img?.src) + ')' }"
                 [attr.aria-label]="img?.alt">
            </div>
            <div *ngIf="showLogoImg"
                 aria-hidden="true"
                 role="img"
                 class="header__img header__img--second"
                 [ngStyle]="{ 'background-image': 'url(' + (logoImgObservable | async) + ')' }"
                 aria-label="João Paulo Hotequil's image">
            </div>
        </div>
        <div class="header__container">
            <h1 class="header__name">{{ name }}</h1>
            <nav>
                <ul class="header__list">
                    <li class="header__list-item" *ngFor="let link of links">
                        <a rel="noreferrer" class="header__link" [href]="link?.href" [target]="link?.target">{{ link?.text }}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__actions" *ngIf="showBtns">
            <h-btn *ngFor="let btn of btns"
                   class="header__btn"
                   [active]="btn.active()"
                   [tooltip]="btn.tooltip"
                   [click]="btn.click.bind(this)"
                   [ariaLabel]="btn.ariaLabel"
                   [txt]="btn.txt">
            </h-btn>
        </div>
    </section>
</header>
