<header class="home">
    <h-home-card class="home__card" [img]="img" [name]="name" [links]="links"></h-home-card>
    <section class="home__main">
        <h2 class="home__title">
            We are together in this magical world of programming, <strong class="home__word home__word--emp">creating</strong>, <strong class="home__word home__word--emp">working hard</strong> and <strong class="home__word home__word--emp">transforming other people's lives</strong>, through <strong class="home__word home__word--emp">practical</strong>, <strong class="home__word home__word--emp">objective</strong> and <strong class="home__word home__word--emp">quick solutions</strong>.
        </h2>
    </section>
</header>
