<section class="card">
    <div class="card__container-img">
        <img class="card__img card__img--first" [src]="img?.src" [alt]="img?.alt">
        <img class="card__img card__img--second" src="./assets/imgs/hotequil.webp" alt="João Paulo Hotequil's image">
    </div>
    <div class="card__container">
        <h1 class="card__name">{{ name }}</h1>
        <ul class="card__list">
            <li class="card__list-item" *ngFor="let link of links">
                <a rel="noreferrer" class="card__link" [href]="link?.href" [target]="link?.target">{{ link?.text }}</a>
            </li>
        </ul>
    </div>
</section>
