@import "variables";
@import "placeholders";

@mixin fix-size($width, $height){
    height: $height;
    min-height: $height;
    max-height: $height;
    width: $width;
    min-width: $width;
    max-width: $width;
}

@mixin box-shadow-bottom($size: -0.05rem, $color: $primary-color){
    box-shadow: inset 0 $size $color;
}

@mixin link(){
    @extend %line-height-default;

    transition: color $time-transition, box-shadow $time-transition;
    text-decoration: none;
    outline: none;

    &:hover, &:focus{
        box-shadow: $box-shadow $primary-color;
        color: $primary-color;

        &:active{
            box-shadow: $box-shadow $active-color;
            color: $active-color;
        }
    }
}
