@import "reset";
@import "normalize";
@import "variables";
@import "mixins";
@import "placeholders";

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $black-color;
    background-color: $white-color;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: -webkit-fill-available;

    @media(max-width: $tablet-width){
         font-size: 14px;
    }
}

:root, html, body{
    ::-moz-selection{
        color: $white-color;
        background-color: $primary-color;
    }

    ::selection{
        color: $white-color;
        background-color: $primary-color;
    }
}

body{
    $space: 2rem;

    margin: $bigger-space auto 0 auto;
    padding: 0 $space;
    max-width: 1200px;
    overflow-x: hidden;

    @media(max-width: $tablet-width){
        margin-top: $space;
    }
}

.noscript{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 0;

    .noscript__strong{
        font-style: oblique;
    }
}

*{
    outline-color: $primary-color;
}
