$primary-color: #0091ea;
$white-color: #fefefe;
$black-color: #141414;
$grey-color: #565656;
$time-transition: .375s;
$tablet-width: 600px;
$mobile-width: 400px;
$border-radius: 50%;
$radius: 4px;
$box-shadow: inset 0 -0.05rem;
