@use "sass:math";

$primary-color: #0091ea;
$white-color: #fefefe;
$black-color: #141414;
$grey-color: #565656;
$time-transition: .375s;
$desktop-width: 1200px;
$tablet-width: 800px;
$mobile-width: 400px;
$border-radius: 50%;
$radius: 4px;
$box-shadow: inset 0 -0.05rem;
$border: 1px solid $primary-color;
$active-color: darken($primary-color, 8%);
$opaque-color: rgba(var(--primary-color-rgb), .12);
$space: 1rem;
$smaller-space: math.div($space, 2);
$bigger-space: 8rem;
$medium-space: 6rem;
$half-space: 4rem;
$double-space: 2rem;

:root{
    --primary-color-rgb: 0, 145, 234;
}
