@import "../stylesheets/variables";

.app{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;

    .app__footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
    }
}
