@import 'tailwindcss';

:root {
  --black: #141414;
  --white: #fefefe;
  --grey: #565656;
  --blue: #1565c0;
  --blue-86: rgba(21, 101, 192, 0.86);
}

@theme inline {
  --color-grey: var(--grey);
  --color-blue: var(--blue);
}

html,
body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
}

body {
  height: 100%;
}

::selection {
  color: var(--white);
  background-color: var(--blue-86);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--blue-86);
}
