@use "sass:math";

@import "../../../../stylesheets/variables";
@import "../../../../stylesheets/mixins";
@import "../../../../stylesheets/placeholders";

.projects{
    $small-margin: .5rem;

    @include default-section();

    .projects__title{
        @include default-title();
    }

    .projects__list{
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $half-space;

        @media(max-width: $tablet-width){
            grid-template-columns: repeat(1, 1fr);
        }

        .projects__item{
            display: flex;
            flex-direction: column;

            .projects__img{
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                border-radius: $radius;
                transition: border-radius $time-transition, background-size $time-transition, box-shadow $time-transition;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                padding-bottom: 50%;

                @extend %shadow-img;

                &:hover, &:focus, &:active{
                    background-size: 115%;
                }
            }

            .projects__container{
                display: flex;
                flex-direction: column;

                .projects__title-item{
                    margin: 0 0 $small-margin 0;
                    font-weight: 500;
                    font-size: 1.375rem;
                    transform: skewX(-8deg);

                    @extend %line-height-default;
                }

                .projects__link{
                    margin: 0;
                    display: inline-block;
                    width: fit-content;
                    color: $primary-color;
                    font-size: 1rem;

                    @include link();
                }

                .projects__desc{
                    color: $grey-color;
                    margin: 0 0 $small-margin 0;
                    font-size: .9rem;

                    @extend %line-height-default;
                }
            }
        }
    }
}
