<section class="projects">
    <h3 class="projects__title">Personal projects</h3>
    <ul class="projects__list">
        <li class="projects__item" *ngFor="let project of projects">
            <div role="img"
                 class="projects__img"
                 [ngStyle]="{'background-image': 'url(' + project.img.src + ')'}"
                 [attr.aria-label]="project.img.alt">
            </div>
            <div class="projects__container">
                <h4 class="projects__title-item">{{ project.title }}</h4>
                <p class="projects__desc">{{ project.desc }}</p>
                <a rel="noreferrer"
                   class="projects__link"
                   [href]="project.href"
                   target="_blank">
                    View {{ project.title }}
                </a>
            </div>
        </li>
    </ul>
</section>
