@import "source/style-sheets/placeholders";
@import "source/style-sheets/variables";

.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;

    @media(max-width: $tablet-width){
        margin: 2rem 0 0 0;
    }

    .home__main{
        display: flex;
        align-items: center;
        margin: 6rem 0;

        .home__title{
            font-family: 'Menlo Regular', monospace;
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
            text-align: left;
            word-break: break-word;
            line-height: 1.25;

            .home__word{
                &.home__word--emphasis{
                    font-style: oblique;
                }
            }
        }
    }
}
