<section class="projects">
    <h3 class="projects__title">Personal projects</h3>
    <ul class="projects__list">
        <li class="projects__item" *ngFor="let project of projects">
            <div role="img"
                 class="projects__image"
                 [ngStyle]="{'background-image': 'url(' + project.image.source + ')'}"
                 [attr.aria-label]="project.image.alternative">
            </div>
            <div class="projects__container">
                <h4 class="projects__title-item">{{ project.title }}</h4>
                <p class="projects__description">{{ project.description }}</p>
                <a class="projects__link"
                   [ngClass]="project.withoutName ? 'projects__link--without-name' : ''"
                   [href]="project.location"
                   target="_blank">
                    View {{ project.title }}
                </a>
            </div>
        </li>
    </ul>
</section>
