@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "placeholders";

html, body{
    $padding: 1rem;

    font-family: 'Menlo Regular', monospace;
    font-weight: normal;
    color: $font-color;
    background-color: $background-color;
    max-width: 1200px;
    margin: 0 auto;
    padding: ($padding * 4) $padding 0 $padding;
    font-size: 16px;

    @media(max-width: $tablet-width){
         font-size: 14px;
         padding-top: $padding;
    }
}

*{
    @extend %no-selection;

    &::selection{
        color: $font-color;
        background-color: $primary-color;
    }

    &::-webkit-scrollbar{
        height: 4px;
        width: 4px;
    }

    &::-webkit-scrollbar-thumb{
        background: $grey-color;
    }
}
