@import "fonts";
@import "variables";
@import "normalize";

html, body{
    font-family: 'Menlo Regular', monospace;
    font-weight: normal;
    color: $font-color;
    background-color: $background-color;
}
