$primary-color: #0091ea;
$white-color: #fafafa;
$black-color: #212121;
$grey-color: #757575;
$time-transition: .375s;
$tablet-width: 600px;
$mobile-width: 400px;
$border-radius: 50%;
$box-shadow: inset 0 -0.05rem;
