@import "src/stylesheets/variables";

.item{
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: $radius;
    border: $border;
    background-color: transparent;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: $primary-color;
    outline: none;
    text-align: left;
    width: 100%;
    transition: background-color $time-transition;
    height: 100%;

    &__content{
        display: flex;
        flex-direction: column;
        row-gap: $smaller-space;
        height: inherit;
    }

    &__date{
        font-size: .85rem;
        color: $grey-color;
    }

    &__text{
        line-height: 1.15;
        flex-grow: 1;
    }

    &:hover, &:focus{
        background-color: $opaque-color;
    }

    &:active{
        background-color: $primary-color;

        .item__date, .item__text{
            color: $white-color;
        }
    }
}
