@import "source/style-sheets/mixins";
@import "source/style-sheets/variables";
@import "source/style-sheets/placeholders";

.card{
    $space: .75rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .card__container{
        display: flex;
        flex-direction: column;
        margin-right: $space;

        .card__name{
            font-size: 1.5rem;
            text-align: right;
            margin: 0 0 $space 0;

            @extend %line-height-default;
        }

        .card__list{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            list-style: none;
            text-align: right;
            margin: 0;
            padding: 0;

            .card__list-item{
                &:not(:last-child){
                    margin-left: $space;
                }

                .card__link{
                    text-decoration: none;
                    font-weight: 600;
                    color: $font-color;
                    transition: color $time-transition, box-shadow $time-transition;

                    @extend %line-height-default;

                    &:hover, &:focus{
                        box-shadow: inset 0 -0.5rem $primary-color;

                        &:active{
                            box-shadow: inset 0 -1.25rem $primary-color;
                        }
                    }
                }
            }
        }
    }

    .card__image{
        @include fix-size(65px, 65px);

        border-radius: $border-radius;
        filter: drop-shadow(1px 1px 1px $background-color);
    }

    @media(max-width: $mobile-width){
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .card__image{
            margin-bottom: $space;
        }

        .card__container{
            margin-right: 0;

            .card__list{
                .card__list-item{
                    margin-bottom: $space;
                }
            }
        }
    }
}
