<header class="head">
    <h-home-card class="head__card" [img]="img" [name]="name" [links]="links"></h-home-card>
    <section class="head__main">
        <h2 class="head__title">
            We are together in this magical world of programming, <strong class="head__word head__word--emp">creating</strong>, <strong class="head__word head__word--emp">working hard</strong> and <strong class="head__word head__word--emp">transforming other people's lives</strong>, through <strong class="head__word head__word--emp">practical</strong>, <strong class="head__word head__word--emp">objective</strong> and <strong class="head__word head__word--emp">quick solutions</strong>.
        </h2>
    </section>
</header>
