@import "src/stylesheets/variables";
@import "src/stylesheets/mixins";

.articles{
    @include default-section();

    &__title{
        @include default-title();
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $double-space;

        @media(max-width: #{$desktop-width}){
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
